[Unit]
Description=Check completed live media every 15 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
Unit=tbjdasr-media-cleanup.service

[Install]
WantedBy=timers.target
